@import url('./_reset.css');

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.video-bg-sot {
  position: absolute;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.content {
  width: 43.2rem;
  height: 67.5rem;
  padding: 4rem;
  background-image: url(../images/background.png);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-cranio {
  width: 12rem;
  margin-bottom: 2rem;
}

.content .links {
  font-size: 4rem;
  text-decoration: none;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../images/link.png);
  width: 36.5rem;
  height: 8.4rem;

  transition: ease 300ms;
}
.content .links + .links {
  margin-top: 1rem;
}
.content .links:hover {
  background-image: url(../images/hover.png);
}
